{% include "header.html" %}

<body>

<form method="post" action="/activation/">
    {% csrf_token %}

    <ul id="client_info">
        {{ ClientForm.as_ul }}
    </ul>
    <ul id="device_list">
        {{ ActivationFormSet.as_ul }}
    </ul>
    <ul id="card_info">
        {{ CreditCardForm.as_ul }}
    </ul>

    <input type="submit" name="submit" value="Activate"/>

</form>

</body>
{% include "footer.html" %}


{#    <table width="500px" border="0">#}
{##}
{#        <tr>#}
{#        <tr>#}
{#            <td>#}
{#                First Name#}
{#            </td>#}
{#            <td>#}
{#                <input type="text" name="firstName" value=''>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                Last Name#}
{#            </td>#}
{#            <td>#}
{#                <input type="text" name="lastName" value=''>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Phone number:</td>#}
{#            <td><input type="text" name="phoneNumber"/></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Email:</td>#}
{#            <td><input type="text" name="email"/><br/> <font size="1" face="arial">(Your email is your username)</font>#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#            <td>Password:</td>#}
{#            <td><input type="password" name="password"/></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2">#}
{##}
{#                <ul id="device_list">#}
{#                    <li>#}
{#                        <div><input name="imei[1]" placeholder="IMEI">#}
{#                            <select name="plan[1]">#}
{#                                <optgroup label="US Only">#}
{#                                    {% for Plan in us_options %}#}
{#                                        <option value="{{ Plan.id }}">{{ Plan.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </optgroup>#}
{#                                <optgroup label="International">#}
{#                                    {% for Plan in international_options %}#}
{#                                        <option value="{{ Plan.id }}">{{ Plan.name }}</option>#}
{#                                    {% endfor %}#}
{#                                </optgroup>#}
{#                            </select>#}
{#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{##}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                Start Date#}
{#            </td>#}
{#            <td>#}
{#                <input type="hidden" name="startDate" value='<?php echo date("Y-m-d"); ?>'> <?php echo date("Y-m-d"); ?>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                One Time Activation Fee:#}
{#            </td>#}
{#            <td>#}
{#                $59.95#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                Select Plan#}
{#            </td>#}
{#            <td>#}
{#                <select name="plan">#}
{#                    <optgroup label="US Only">#}
{#                        {% for Plan in us_options %}#}
{#                            <option value="{{ Plan.id }}">{{ Plan.name }}</option>#}
{#                        {% endfor %}#}
{#                    </optgroup>#}
{#                    <optgroup label="International">#}
{#                        {% for Plan in international_options %}#}
{#                            <option value="{{ Plan.id }}">{{ Plan.name }}</option>#}
{#                        {% endfor %}#}
{#                    </optgroup>#}
{#                </select>#}
{#            </td>#}
{#        </tr>#}
{##}
{#        <input type="hidden" name="trialAmount" value='0'>#}
{##}
{#        <tr>#}
{#            <td>#}
{#                Credit Card Number#}
{#            </td>#}
{#            <td>#}
{#                <input type="text" name="cardNumber" value=''><br/>#}
{#                <font size="1" face="arial"> (no dashes)</font>#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                Expiration Date#}
{#            </td>#}
{#            <td>#}
{#                <input type="text" name="expirationDate" value=''> <br/><font size="1" face="arial">YYYY-MM#}
{#            </td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>CCV</td>#}
{#            <td><input type="text" name="ccv"/></td>#}
{#        </tr>#}
{#        <tr>#}
{##}
{#            <td colspan="2" align="center" style="font-weight: bold;color: red;">Please read our terms and conditions#}
{#                and understand that by clicking "I Agree" you are agreeing to our terms an conditions#}
{#            </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#            <td colspan="2">#}
{#                <div style="overflow:scroll; width:500px; height: 200px;"><h1>AUTHORIZATION:</h1>#}
{##}
{#                    <p>I hereby authorize TD SPOT, Inc to charge the indicated credit card for services provided and#}
{#                        applicable excess usage fees. I#}
{#                        agree that this is a periodic charge that will be made according to my billing cycle, and in#}
{#                        order to terminate the recurring#}
{#                        billing process I must either cancel my account, or arrange for an alternative method of#}
{#                        payment. I understand that all#}
{#                        account cancellations for which an active recurring billing authorization exists must be made in#}
{#                        writing according to the#}
{#                        requirements of TD SPOT, Inc. Terms of Services which I have read and understand. I agree not to#}
{#                        dispute TD SPOT, Inc recurring#}
{#                        billing with my credit card issuer as long as the amount in question was for services rendered#}
{#                        prior to cancellation of the#}
{#                        account. I agree to the terms and conditions set forth in the TD SPOT, Inc Terms of Service, and#}
{#                        I understand that I will forfeit#}
{#                        any fees paid to date if my account is terminated as a result of a Terms of Services violation.#}
{#                        I understand that TD SPOT, Inc#}
{#                        will not mail me any invoices or bills. I agree that any credits issued by TD SPOT, Inc for any#}
{#                        reason will not be refunded to my#}
{#                        credit card, but instead deducted from my next bill. I agree that if I have any problems or#}
{#                        questions regarding my TD SPOT, Inc#}
{#                        service, I will contact TD SPOT, Inc for assistance, using the contact information on their web#}
{#                        site at www.SPY-SPOT.com. I#}
{#                        agree that I will not dispute any charges from TD SPOT, Inc unless I have already made an effort#}
{#                        in good faith to rectify the#}
{#                        situation directly with TD SPOT, Inc and those efforts have failed. I authorize TD SPOT, Inc and#}
{#                        its sponsoring agency to run an#}
{#                        address verification search. This verification process is a security measure designed to protect#}
{#                        me, the client, from illegal#}
{#                        fraud against my credit card. I guarantee and warrant that I am the legal cardholder for this#}
{#                        credit card, and that I am#}
{#                        legally authorized to enter into this recurring billing agreement with TD SPOT, Inc. REQUESTS TO#}
{#                        TERMINATE#}
{#                        AUTHORIZATION OF RECURRING BILLING MUST BE MADE IN WRITING 30 DAYS PRIOR TO THE NEXT#}
{#                        SCHEDULED PAYMENT TO THE ADDRESS LISTED IN THE TOP LEFT-HAND SIDE OF THIS DOCUMENT.</p>#}
{##}
{#                    <h1>Claimer:</h1>#}
{##}
{#                    <p>#}
{#                        The purchaser of product has the responsibility to confirm and comply with any and all#}
{#                        applicable federal, state and/or local laws. The purchaser must be aware that GPS Tracking laws#}
{#                        vary from state-to-state, and it is their sole responsibility to educate themselves on their#}
{#                        federal, state or local laws, regarding any product purchased from www.spy-spot.com. Spy-Spot#}
{#                        strongly recommends an attorney should be consulted before the purchase of any item to confirm#}
{#                        any applicable laws.#}
{#                        Under absolutely NO circumstances shall Spy-Spot be held liable for any indirect, direct,#}
{#                        special, consequential or incidental damages, resulting from the inability to use, misuse, or#}
{#                        use product(s) or service(s) that are purchased from Spy-Spot Investigations Inc or#}
{#                        www.spy-spot.com.#}
{#                        By submitting an order, the purchaser represents that he or she will use the product acquired in#}
{#                        a responsible and lawful manner, and they will not violate any laws or individual's rights.</p>#}
{#                </div>#}
{#            <td/>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>#}
{#                <br>#}
{#                <!--input type="hidden" name="length" value='1'-->#}
{#                <input type="hidden" name="totalOccurrences" value='9999'>#}
{#                <input type="hidden" name="trialOccurrences" value='0'>#}
{#                <input type="hidden" name="unit" value='months'>#}
{#                <input type="submit" name="submit" value="I Agree"><input type="reset" name="reset" value="Reset">#}
{#            </td>#}
{#            <td></td>#}
{#        </tr>#}
{#    </table>#}