<!DOCTYPE html>
<html>
<head>
    <title>GPS Activation Form</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script>
{#        var i = 1;#}
{#        var add_device = function (e) {#}
{#            e.preventDefault();#}
{#            $('#device_list').append('<li>' +#}
{#                    '<div>' +#}
{#                    '<input name="imei['+ (i=i+1) +']" placeholder="IMEI">' +#}
{#                    '<select name="plan['+ (i) +']">' +#}
{#                    '<optgroup label="US Only">' +#}
{#                    '{% for Plan in us_options %}'+#}
{#                        '<option value="{{ Plan.id }}">{{ Plan.name }}</option>'+#}
{#                        '{% endfor %}' +#}
{#                    '</optgroup>' +#}
{#                    '<optgroup label="International">' +#}
{#                    '{% for Plan in international_options %}'+#}
{#                        '<option value="{{ Plan.id }}">{{ Plan.name }}</option>'+#}
{#                        '{% endfor %}' +#}
{#                    '</optgroup>' +#}
{#                    '</select>' +#}
{#                    '</div>' +#}
{#                    '<div class="device_controls">' +#}
{#                    '<span class="add_device">' +#}
{#                    '<a href="#" class="add_device_btn">+</a>' +#}
{#                    '</span>' +#}
{#                    '|' +#}
{#                    '<span class="remove_device">' +#}
{#                    '<a href="#" class="remove_device_btn">-</a>' +#}
{#                    '</span>' +#}
{#                    '</div>' +#}
{#                    '</li>');#}
{#        }#}
{##}
{#        var remove_device = function (e) {#}
{#            e.preventDefault();#}
{#            $(this).closest('li').remove()#}
{#        }#}
{#        $(document).ready(function () {#}
{##}
{#            var device_btns = $('<div class="device_controls">' +#}
{#                    '<span class="add_device">' +#}
{#                    '<a href="#" class="add_device_btn">+</a>' +#}
{#                    '</span>' +#}
{#                    '</div>');#}
{#            $('#device_list li:odd').append(device_btns);#}
{##}
{##}
{#        }).on('click', '.add_device', add_device)#}
{#                .on('click', '.remove_device', remove_device);#}
{##}

    </script>

    <style>
        #device_list li {
            width: 200px;
        }
    </style>

</head>
